@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);

body {font-family: 'Source Sans Pro', sans-serif; font-size: 14px;}
#container {margin-left: 80px;margin-right: 80px; margin-bottom: 50px;}
#header-top{display: inline-block; width: 100%}
#text-top {
  width: 500px;
  padding-right: 2px;
  margin-right: 2px;
  float: left;
  margin-bottom: 15px;
}

#model option{
    display:none;
}

#model option.label{
    display:block;
}

optgroup {
    color: black;
    font-weight: bold;
    font-style: normal;
    padding: 3px 0 0 0;
    text-align: center;
}

optgroup option {
    background-color: white;
    color: #000000;
    padding: 2 0 0 1em;
    text-align: center;
}

.ImageBorder
{
    border-width: 2px;
    border-color: #8bc34a;
}

#modal_trigger {
  margin:14px 96px 1px 1px;
  width:115px;
  float: right;
}
section {
  display: inline-block;
  width: 100%
}
caption {
  margin-bottom: 20px;
  margin-top: 20px;
}
#search-box {
  display: inline-block;
  border: 2px solid #8bc34a;
  width: 258px;
  padding: 10px 2px 20px 20px;
  margin-top: 20px;
  float: left;
}
.advanced-box {
  border: 2px solid #8bc34a;
  width: 100%;
  margin-top: 20px;
  float: left;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.table {
  width: 100%
}
.sw150 {
  width: 150px;
}
.sw220 {
  width: 220px;
}
.advanced-box [type="submit"] {
  font-size: 1.5em;
  width: 30%
}

[for=price] {
  width: 76px;
  display: inline-block;
  padding-bottom: 6px;
}

#reklama-box {
  padding-top: 10px;
  padding-right: 750px;
  width:215px;
  float: right;
}
#reklama-box p {
  width: 300px;
  margin-left: 200px;
  font-weight: bold;
}
#refer-to-search a {
  color: #8bc34a;
}
footer {
  font-size: 0.8em;
  display: inline-block !important;
  width: 100%
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}

.btn {padding:10px 20px; background: #8bc34a;}
.btn_red {background: gray; color: #FFF;}

.btn:hover {background: darkgray;}
.btn_red:hover {background: #8bc34a;}

a.btn {color:white; text-align: center; text-decoration: none;}
a.btn_red {color: #FFF;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#F4F4F2; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#E4E4E2; cursor: pointer; color:#aaa; font-size:16px;}

.popupBody {padding:20px;}

/* Social Login Form */
.social_login {}
.social_login .social_box {display:block; clear:both; padding:10px; margin-bottom: 10px; background: #F4F4F2; overflow: hidden;}
.social_login .icon {display:block; width:10px; padding:5px 10px; margin-right: 10px; float:left; color:#FFF; font-size:16px; text-align: center;}
.social_login .fb .icon {background:#3B5998;}
.social_login .google .icon {background:#DD4B39;}
.social_login .icon_title {display:block; padding:5px 0; float:left; font-weight: bold; font-size: 16px; color:#777;}
.social_login .social_box:hover {background: #E4E4E2;}

.centeredText {text-align: center; margin: 20px 0; clear: both; overflow: hidden; text-transform: uppercase;}

.action_btns {clear:both; overflow: hidden;}
.action_btns a {display: block;}

/* User Login Form */
.user_login {display: none;}
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {display:block; margin: 20px 0 10px; clear: both; overflow: hidden; text-decoration: none; color:#ED6347;}

/* User Register Form */
.user_register {display: none;}
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}

.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
